<header class="site-header">
  <div class="logo">
    <a href="/" title="Go to Home Page">CSE Motors</a>
  </div>
  <div class="account">
    <a href="#" title="Log in to your account">My Account</a>
  </div>
</header>