<nav class="main-nav">
  <ul>
    <li><a href="/" title="Home Page">Home</a></li>
    <li><a href="#" title="Custom Vehicles">Custom</a></li>
    <li><a href="#" title="Sedan Vehicles">Sedan</a></li>
    <li><a href="#" title="SUV Vehicles">SUV</a></li>
    <li><a href="#" title="Truck Vehicles">Truck</a></li>
  </ul>
</nav>